.admin{
  border: 1px solid #555;
  border-radius: 5px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  opacity: 0.3;
  padding: 15px;
}
.admin:hover{
  opacity: 1;
}
.admin a{
  display: block;
  margin: 5px 0;
}
a.edit, a.delete {
  display: none;
}
.main{
  text-align: center;
}
.logo{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.telega{
    font-size: 80%;
    text-align: center;
}
.gitlogo{
  width: 5%;
  height: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
